<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<title>Error page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
	<div class="container" style="max-width: 1200px;">
		<div
			th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error:
			Error</div>
		<div>
			Back to <a th:href="@{/}">Home</a>
		</div>
		<div class="text-center">
			<div th:include="fragments/footer :: footer">&copy; 2013 The
				Static Templates</div>
		</div>
	</div>
</body>
</html>