<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
	<div th:fragment="footer" class="text-center">
	<br/><br/>
		<hr />
		<p id="copyright">
			<a th:href="#{footer.organization.url}"
				href="http://proteininformationresource.org"> <span
				th:text="#{footer.organization}">Protein Information Resource</span></a><br /> &copy; <span
				th:text="#{footer.copyright.year}">2018</span>
		</p>
	</div>
</body>
</html>

